html {
    min-height:100%;
    border: 0.5em solid lightblue;
}

body {
    margin: 0;
   
    background-color: lightgreen;


                      
}

h1{
    margin: 0.5em
}

h2{
    width:15%;
    vertical-align: top;
    padding-right: 0.25em;
    margin: 0 0.1em;
    text-align: right;
    
}

p {
    text-align: left;
    width: 75%;
    padding-left: 5px;
    border-left: 5px solid gray;
}

#image-of-me{
    height: 100%;
    width: auto;
    display: block;
    min-height: auto;
}

nav{
    width: 50%;
    display: inline;
    margin-left: auto;
}

#nav-ul{
    list-style-type: none;
    text-align: right;
    margin-right: 3em;
    padding: 0.1em;
}

li{
    display: inline;
    font-size: larger;
    margin: 0.5em;
}

#contact-information{
    border-left: 5px solid gray;
    width: 75%;
    padding-left: 0.25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-row-title-and-nav-bar{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 5em;
    overflow:hidden;
    
}

.flex-row-about-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
   
    margin: auto;
}

.flex-row-work{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    flex-wrap: wrap;
}

img {
    width: 100%;
    
    text-align: center;
}

.digital-marketing-webpage {
    width: 100%;
    position: relative;
    flex: 2 0 100%;
    
}

.challenge-class {
    border: 0.25em solid lightblue;
    margin: 0.5em;
    flex: 0 0 calc(50% - 1.5em);
    position: relative;
}

.image-grid {
    display: flex;
    flex: 0 0 75%;
    flex-wrap: wrap;
    padding-left: 5px;
    border-left: 5px solid gray;
    
}

h3 {
    position: absolute;
    bottom: 0;
    padding-left: 0.5em;
    background-color:gray;
    margin-bottom: 0;
}

.flex-row-contact-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: auto;
}

@media screen and (max-width: 500px){
    
    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 3.25vw
    }

    p {
        font-size: 4vw;
    }

    ul {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 501px) {
    
    h1{
        font-size: 1.875em;
    }
    
    h2{
        font-size: 1.563em;
    }

    h3{
        font-size: 0.85em;
    }

    p {
        font-size: 1.25em;
    }

    ul {
        font-size: 1.06em;
    }
}

@media screen and (max-width: 675px) {


    

    .flex-row-title-and-nav-bar{
        display: flex;
        height: 10em;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap:wrap;
        
    }

    #image-of-me{
        height: 50%;
    }

    .flex-row-about-me{
        flex-wrap:nowrap;
        flex-direction: column;
        justify-content:right;
        align-items: left;
        
    }

    .flex-row-work{
        flex-direction: column;
        align-items: center;
    }

    nav{
        margin: 0;
        font-size: 1em;
        flex-grow: 3;
    }

    #nav-ul{
        list-style-type: none;
        text-align: center;
        width: 95%;
        margin: 1em auto 2em auto;

        width: 100%;
        
    }


    li {
        margin: 0.25em;
    }

    #about-me-title{
        margin-top: 1em;
    }

    h2 {    
        flex-grow: 3;
        width: 100%;
        margin: 1em;
        width: max-content;
        text-align: center;
    }

    p {
        margin: 0;
        width: 90%;
        border: none;
    }

    .image-grid {
        border: none;
    }

    h3{
        margin-bottom: 0;
    }

    .challenge-class{
        flex: 0 0 calc(100% - 1em);
        align-items: center;
        margin: 0.5em auto 0.5em auto;
    }

    .flex-row-contact-me{
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }



    #contact-information {
        border: none;
        margin-top: 0;
    }
}

@media screen and (min-width: 615px) {
    
    .flex-row-title-and-nav-bar{
        display: flex;
        height: 5em;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap:wrap;
    }

    #nav-ul{
        width: 95%;
        margin-right: 0.5em;
    }

    #image-of-me{
        height: 100%;
    }
    
    #contact-information li{
    margin-left: 1.5em;
    margin-right: 1.5em; 
    min-width: 40%;
    }
}

@media screen and (min-width: 1550px) {
    #contact-information li{
    min-width: 10%;
    margin-left: 0.5em;
    margin-right: 0.5em; 
    }
}