h1{
    margin: 0.5em
}

nav{
    width: 50%;
    display: inline;
    margin-left: auto;
}

.flex-row-title-and-nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5em;
}

ul{
    list-style-type: none;
    
    text-align: right;
}

li{
    display: inline;
    font-size: larger;
    margin: 0.5em;
}

.flex-row-about-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: auto;
}

.flex-row-work{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    flex-wrap: wrap;
    
    
}

img {
    width: 100%;
    
    text-align: center;
}

.digital-marketing-webpage {
    width: 0 0 100%;
    position: relative;
    flex: 2 0 100%;
    
}

.flex-images {
    display: flex;
    justify-content: center;
    
}

.challenge-class {
    border: 0.25em solid lightblue;
    margin: 0.5em;
    flex: 0 0 calc(50% - 1.5em);
    position: relative;
}

.image-grid {
    display: flex;
    flex: 0 0 75%;
    flex-wrap: wrap;
    
}

p {
    text-align: left;
    width: 75%
}

h2{
    width: 10%;
    vertical-align: top;
    display: flex;
}

h3 {
    position: absolute;
    bottom: 0;
    padding-left: 0.5em;
    background-color:gray
}

.flex-row-contact-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: auto;
}